.LoginHeader {
	min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(20px + 3vmin);
	color: white;
}

.SubmitButton {
	width: 100%;
}
